.process {
  color: #313131;
  max-width: 960px;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem 4rem;
  margin: 2rem auto;
}
@media (min-width: 480px) {
  .process {
    padding: 0 2rem 4rem;
  }
}

.process__title {
  margin: 4rem 0 3rem;
  text-align: center;
}

.process__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process__grid-item {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 
    0 15px 35px rgba(50, 50, 93, .1),
    0 5px 15px rgba(0, 0, 0, .07);
  border-radius: 5px;
  max-width: 560px;
  margin: 0 auto 2rem;
}
.process__grid-item:nth-child(1n) {
  border-left: 10px solid #05668d;
}
.process__grid-item:nth-child(2n) {
  border-left: 10px solid #7a306c;
}
.process__grid-item:nth-child(3n) {
  border-left: 10px solid #ffa000;
}
.process__grid-item:nth-child(4n) {
  border-left: 10px solid #3e8989;
}
@media (min-width: 1000px) {
  .process__grid-item {
    flex: 0 2 48%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.process__step-number {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-right: .5rem;
}
.process__grid-item:nth-child(1n) .process__step-number {
  border: 3px solid #05668d;
}
.process__grid-item:nth-child(2n) .process__step-number {
  border: 3px solid #7a306c;
}
.process__grid-item:nth-child(3n) .process__step-number {
  border: 3px solid #ffa000;
}
.process__grid-item:nth-child(4n) .process__step-number {
  border: 3px solid #3e8989;
}
.process__step-number > span {
  font-size: .9rem;
  vertical-align: text-top;
}

.process__step-title {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  vertical-align: top;
}
.process__grid-item:nth-child(1n) .process__step-title {
  color: #05668d;
}
.process__grid-item:nth-child(2n) .process__step-title {
  color: #7a306c;
}
.process__grid-item:nth-child(3n) .process__step-title {
  color: #ffa000;
}
.process__grid-item:nth-child(4n) .process__step-title {
  color: #3e8989;
}

.process__step-details {
  color: #313131;
  font-size: 1.1rem;
  line-height: 1.75rem;
}
