.intro {
  text-align: center;
  max-width: 100%;
  margin: 2rem 0;
  padding: 3rem 2rem 4rem;
  background: linear-gradient(to bottom right, #55aaac 0%, #3e8889 100%);
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 560px) {
  .intro {
    margin: 2rem;
    padding: 3rem 4rem 4rem;
  }
}

@media (min-width: 960px) {
  .intro {
    max-width: 960px;
    margin: 2rem auto;
  }
}

.intro__title {
  color: #f7fff7;
  font-size: .9rem;
}

.intro__two-column {
  display: block;
  margin-top: 2rem;
}
@media (min-width: 960px) {
  .intro__two-column {
    display: flex;
  }
}


.intro__left,
.intro__right {
  flex: 1;
  padding: 0;
}
@media (min-width: 960px) {
  .intro__left,
  .intro__right {
    flex: 1;
    padding: 0 2rem;
  }
}

.intro__two-column-divider {
  display: block;
  border-color: #8fe4e6;
  margin: 2rem 0;
}
@media (min-width: 960px) {
  .intro__two-column-divider {
    display: none;
  }
}

.intro__body {
  color: #f7fff7;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: right;
  margin: 0;
}
.intro__body a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 960px) {
  .intro__body {
    text-align: left;
  }
}

.intro__body-lg {
  color: #f7fff7;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: right;
  margin: 0;
}
@media (min-width: 560px) {
  .intro__body-lg {
    font-size: 2rem;
  } 
}

.solutions {
  margin: 0 3rem;
  border-bottom: 1px solid #ccc;
}

.solutions__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 960px;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.solutions__list-body {
  color: #313131;
  font-weight: 400;
}

.solutions__list-item {
  display: inline-block;
  text-align: center;
  margin: 2rem 0;
  flex: 1 1 100%;
}
@media (min-width: 800px) {
  .solutions__list-item {
    margin: 2rem 0;
    flex: 0 1 33%;
  }
}

.solutions__image {
  display: inline;
  max-height: 50px;
}