.intro {
  text-align: center;
  max-width: 100%;
  margin: 0 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 560px) {
  .intro {
    padding: 2rem;
  }
}

@media (min-width: 960px) {
  .intro {
    max-width: 760px;
    margin: 0 auto;
  }
}

.intro__title {
  color: #313131;
}

.intro__body {
  color: #313131;
  font-size: 1.25rem;
  line-height: 1.5;
}
.intro__body a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.solutions {
  margin: 0 3rem;
  border-bottom: 1px solid #ccc;
}

.solutions__title {
  text-align: center;
  color: #313131;
}

.solutions__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 960px;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.solutions__list-body {
  color: #313131;
  font-weight: 400;
}

.solutions__list-item {
  display: inline-block;
  text-align: center;
  margin: 2rem 0;
  flex: 1 1 100%;
}
@media (min-width: 800px) {
  .solutions__list-item {
    margin: 2rem 0;
    flex: 0 1 33%;
  }
}

.solutions__image {
  display: inline;
  max-height: 50px;
}