.splash {
  color: #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
}
@media (min-width: 640px) {
  .splash {
    height: 720px;
  }
}

.splash__background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #212121;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.splash__content {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, .33);
}

.splash__title {
  margin-top: 0;
  margin: 0 auto 1.5rem;
  font-size: 2rem;
}
@media (min-width: 640px) {
  .splash__title {
    font-size: 3rem;
  }
}
@media (min-width: 960px) {
  .splash__title {
    font-size: 4rem;
  }
}

.splash__subtitle {
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem auto .5rem;
}
@media (min-width: 640px) {
  .splash__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .splash__subtitle {
    font-size: 1.75rem;
  }
}

.splash__blurb {
  font-weight: 700;
  font-size: .75rem;
  margin: .5rem auto 2rem;
}
@media (min-width: 640px) {
  .splash__blurb {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  .splash__blurb {
    font-size: 1.25rem;
  }
}
.splash__blurb > span {
  animation: blink 1s infinite;
  border-right: 2px solid #fff;
}

@keyframes blink {
  0% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid transparent;
  }
  51% {
    border-right: 2px solid #fff;
  }
}

.splash__button {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  padding: .5rem;
  border: 2px solid #fff;
  text-decoration: initial;
  transition: all .3s ease;
  margin-right: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 640px) {
  .splash__button {
    font-size: .9rem;
  }
}
@media (min-width: 960px) {
  .splash__button {
    font-size: 1rem;
  }
}
.splash__button:hover,
.splash__button:focus {
  color: #212121;
  background: #fff;
}
.splash__button:last-child {
  margin-right: 0;
}
