.contact-form {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 400px) {
  .contact-form {
    top: 50%;
    left: 50%;
    width: 350px;
    height: auto;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
}

.contact-form__title {
  margin: 1.5rem 0 0;
  color: #3e8889;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.contact-form__form {
  padding: 1rem;
}

.contact-form__close {
  appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50%;
  color: #fff;
  background: #3e8889;
  position: absolute;
  right: 1rem;
  width: 20px;
  height: 20px;
  letter-spacing: -.06rem;
  padding: 0;
}

.contact-form .form-field {
  max-width: 100%;
}

.contact-form .form-field--submit {
  text-align: center;
  margin: 2rem 0 0;
}

.contact-form .form-field__submit {
  color: #313131;
  border-bottom: 3px solid #fff;
  cursor: pointer;
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.contact-form .form-field__submit:hover,
.contact-form .form-field__submit:focus {
  border-bottom: 3px solid #3e8889;
}