.footer {
  background: #3c3c3c;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
  border-top: 10px solid #525252;
  font-size: .75rem;
  text-align: center;
}
@media (min-width: 640px) {
  .footer {
    font-size: .9rem;
    text-align: left;
  }
}

.footer__contact-methods {
  margin: .5rem 0 0;
}

.footer__contact-method {
  display: block;
  margin: .5rem 1rem 0 0;
  color: inherit;
  text-decoration: inherit;
}
.footer__contact-method:first-child {
  margin-top: 0;
}
@media (min-width: 420px) {
  .footer__contact-method {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.footer__contact-method-icon {
  width: 16px;
  height: 16px;
  margin-right: .25rem;
  vertical-align: bottom;
}