.blog-detail__featured-image {
  display: block;
  margin: 0 auto 2rem;
  max-width: 100%;
}
@media (min-width: 720px) {
  .blog-detail__featured-image {
    margin: 2rem auto;
  }
}
@media (min-width: 960px) {
  .blog-detail__featured-image {
    max-width: 840px;
  }
}

.blog-detail__title {
  max-width: 100%;
  margin: 2rem auto;
  font-size: 1.25rem;
  padding: 0 1rem;
  color: #212121;
  line-height: 3rem;
}
@media (min-width: 420px) {
  .blog-detail__title {
    font-size: 1.5rem;
    padding: 0 2rem;
  }
}

.blog-detail__meta {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 100%;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #779191;
}

@media (min-width: 420px) {
  .blog-detail__meta {
    font-size: .9rem;
    margin: 1rem auto;
    padding: 0 2rem;
    max-width: 560px;
  }
}

@media (min-width: 960px) {
  .blog-detail__meta {
    font-size: 1rem;
    margin: 2rem auto;
    max-width: 760px;
  }
}

@media (min-width: 560px) {
  .blog-detail__title {
    font-size: 2rem;
    max-width: 560px;
  }
}

@media (min-width: 960px) {
  .blog-detail__title {
    max-width: 760px;
  }
}

.blog-detail__content {
  padding: 0 1rem;
  color: #212121;
}
@media (min-width: 420px) {
  .blog-detail__content {
    padding: 0 2rem;
  }
}

.blog-detail__content h2,
.blog-detail__content h3,
.blog-detail__content h4,
.blog-detail__content h5 {
  max-width: 560px;
  margin: 1.5rem auto;
  letter-spacing: .05rem;
}
@media (min-width: 960px) {
  .blog-detail__content h2,
  .blog-detail__content h3,
  .blog-detail__content h4,
  .blog-detail__content h5 {
    max-width: 760px;
  }
}

.blog-detail__content p {
  max-width: 560px;
  margin: 1.5rem auto;
  line-height: 1.75;
  font-size: .9rem;
  letter-spacing: .02rem;
  display: block;
}
@media (min-width: 420px) {
  .blog-detail__content p {
    font-size: 1rem;
  }
}
@media (min-width: 560px) {
  .blog-detail__content p {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .blog-detail__content p {
    font-size: 1.25rem;
    max-width: 760px;
  }
}

.blog-detail__content a {
  color: #212121;
}

.blog-detail__content img {
  max-width: 100%;
}

.blog-detail__content ul {
  max-width: 560px;
  margin: 1.5rem auto;
  line-height: 1.75;
  font-size: .9rem;
  letter-spacing: .02rem;
  display: block;
  padding-left: 1.5rem;
}
@media (min-width: 420px) {
  .blog-detail__content ul {
    font-size: 1rem;
  }
}
@media (min-width: 560px) {
  .blog-detail__content ul {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .blog-detail__content ul {
    font-size: 1.25rem;
    max-width: 760px;
    padding-left: 3rem;
  }
}
