.blog-detail {
  margin: 0 auto 4rem;
}

.blog-detail__image-container {
  display: block;
  margin: 0 auto 2rem;
  max-width: 100%;
}
@media (min-width: 720px) {
  .blog-detail__image-container {
    margin: 2rem auto;
  }
}
@media (min-width: 960px) {
  .blog-detail__image-container {
    max-width: 840px;
  }
}

.blog-detail__featured-image-wrapper {
  position: relative;
  padding-bottom: 33.33%;
  overflow: hidden;
}

.blog-detail__featured-image {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
}

.blog-detail__title {
  max-width: 100%;
  margin: 2rem auto;
  line-height: 1.25;
  padding: 0 1rem;
  color: #212121;
}
@media (min-width: 420px) {
  .blog-detail__title {
    line-height: 1.25;
    padding: 0 2rem;
  }
}
@media (min-width: 560px) {
  .blog-detail__title {
    font-size: 2.5rem;
    max-width: 560px;
  }
}

@media (min-width: 960px) {
  .blog-detail__title {
    max-width: 760px;
  }
}
.blog-detail--loading .blog-detail__title > div {
  margin: 1rem 0;
  height: 2rem;
}

.blog-detail__meta {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 100%;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #779191;
}
@media (min-width: 420px) {
  .blog-detail__meta {
    font-size: .9rem;
    margin: 1rem auto;
    padding: 0 2rem;
    max-width: 560px;
  }
}
@media (min-width: 960px) {
  .blog-detail__meta {
    font-size: 1rem;
    margin: 2rem auto;
    max-width: 760px;
  }
}
.blog-detail--loading .blog-detail__meta > div {
  width: 200px;
  height: 2rem;
}

.blog-detail__content {
  padding: 0 1rem;
  color: #212121;
}
@media (min-width: 420px) {
  .blog-detail__content {
    padding: 0 2rem;
  }
}

.blog-detail__content h2,
.blog-detail__content h3,
.blog-detail__content h4,
.blog-detail__content h5 {
  max-width: 560px;
  margin: 1.5rem auto;
  letter-spacing: .05rem;
}
@media (min-width: 960px) {
  .blog-detail__content h2,
  .blog-detail__content h3,
  .blog-detail__content h4,
  .blog-detail__content h5 {
    max-width: 760px;
  }
}

.blog-detail__content p,
.blog-detail__content pre {
  max-width: 560px;
  margin: 1.5rem auto;
  line-height: 1.75;
  font-size: .9rem;
  letter-spacing: .02rem;
  display: block;
}
@media (min-width: 420px) {
  .blog-detail__content p,
  .blog-detail__content pre {
    font-size: 1rem;
  }
}
@media (min-width: 560px) {
  .blog-detail__content p,
  .blog-detail__content pre {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .blog-detail__content p,
  .blog-detail__content pre {
    font-size: 1.25rem;
    max-width: 760px;
  }
}

.blog-detail__content pre {
  padding: 3rem 1rem 1rem;
  box-sizing: border-box;
  background: #363436;
  color: #fff;
  line-height: 1.25;
  overflow-x: scroll;
}

.blog-detail__content code {
  font-size: .9rem;
}

.blog-detail__content code.language-javascript {
  position: relative;
}

.blog-detail__content code.language-javascript::before {
  content: 'javascript';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(-1rem, -3.5rem);
  background: #759963;
  color: #fff;
  padding: .5rem;
  font-size: .8rem;
}

.blog-detail__content a {
  color: #212121;
}

.blog-detail__content img {
  max-width: 100%;
}

.blog-detail__content ul {
  max-width: 560px;
  margin: 1.5rem auto;
  line-height: 1.75;
  font-size: .9rem;
  letter-spacing: .02rem;
  display: block;
  padding-left: 1.5rem;
}
@media (min-width: 420px) {
  .blog-detail__content ul {
    font-size: 1rem;
  }
}
@media (min-width: 560px) {
  .blog-detail__content ul {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .blog-detail__content ul {
    font-size: 1.25rem;
    max-width: 760px;
    padding-left: 3rem;
  }
}

.blog-detail--loading .blog-detail__content > p {
  margin: 1rem auto;
  height: 1.5rem;
}
