.App {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.form-field {
  margin: 1rem;
}

.form-field__label {
  display: block;
  color: #666;
  font-size: .85rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5rem;
}

.form-field__input {
  padding: .25rem .5rem;
  border: 0;
  border-bottom: 1px solid #313131;
  border-radius: 3px;
  background: #eee;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
}

.form-field__submit {
  border: 0;
  background: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.page-manager {
  position: relative;
  transition: filter .5s ease;
}
.page-manager::after {
  content: ' ';
  transition: background .5s ease;
}

.blur-background.page-manager {
  filter: blur(1px) grayscale(1);
}
.blur-background.page-manager::after {
  content: ' ';
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}
